<% content_for :title, "Editing daily numerology" %>

<h1>Editing daily numerology</h1>

<%= render "form", daily_numerology: @daily_numerology %>

<br>

<div>
  <%= link_to "Show this daily numerology", @daily_numerology %> |
  <%= link_to "Back to daily numerologies", daily_numerologies_path %>
</div>
