<% content_for :title, "New daily numerology" %>

<h1>New daily numerology</h1>

<%= render "form", daily_numerology: @daily_numerology %>

<br>

<div>
  <%= link_to "Back to daily numerologies", daily_numerologies_path %>
</div>
